.main-content__page-destination {
    width: 100%;
    background-color: #fff;
}

.page-destination-content {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 80px 20px;
}

.page-destination-header {
    width: 100%;
    position: relative;
    text-align: center;
    font-family: HelveticaNeueCyr-Roman, Arial, sans-serif;
}

.page-destination-header > h2 {
    position: relative;
    text-transform: uppercase;
    color: #313844;
}

.page-destination-header > h2:after {
    content: '';
    display: block;
    width: 165px;
    height: 4px;
    background-color: #0072bb;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.back-link {
    padding: 8px 20px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
    background-color: #0072bb;
    cursor: pointer;
    color: #fff;
    font-family: HelveticaNeueCyr-Roman, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    z-index: 1;
    transition: .4s ease;
    border: 1px solid #0072bb;
}

.back-link:hover {
    background-color: transparent;
    color: #0072bb;
}

.page-destination-body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-top: 110px;
}

.page-destination-body__menu-block {
    position: sticky;
    top: 50px;
    width: 360px;
    padding-top: 20px;
}

.menu-list {
    border: 1px solid #0072BC;
}

.menu-item-link {
    display: block;
    padding: 20px 12px;
    font-family: HelveticaNeueCyr-Roman, Arial, sans-serif;
    text-transform: uppercase;
    color: #313844;
    background-color: #E0E9F2;
    transition: .4s ease;
}

.active-menu-item {
    background-color: #0072BC;
    color: #fff;
}

.active-menu-item,
.menu-item-link:not(.active-menu-item):hover {
    color: #fff;
}

.menu-item-link:not(.active-menu-item):hover {
    background-color: #029292;
}

.menu-list-item:not(:first-child) > .menu-item-link {
    border-top: 1px solid #0072BC;
}

.page-destination-header > h2 {
    padding: 0 37px;
}

.page-destination-body__main-body {
    flex-grow: 1;
    width: 650px;
    padding-left: 90px;
    font-family: HelveticaNeueCyr-Roman, Arial, sans-serif;
}

.page-image {
    text-align: right;
}

.page-img {
    width: 650px;
    transition: box-shadow .4s;
    cursor: zoom-in;
    border: 1px solid #ccc;
}

.page-img:hover {
    box-shadow: -10px 10px 10px -10px #444;
}

.page-text {
    margin-top: 50px;
}

.page-text a {
    color: #0072BC;
    text-decoration: underline;
    cursor: pointer;
}

.page-text h3 {
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 30px;
}

.page-text h3:nth-of-type(2) {
    padding: 30px 0;
}

.page-text h3,
.page-text > p > span {
    font-weight: 900;
}

.page-text > p {
    padding: 15px 0;
}

.page-text > p:last-child {
    padding: 0;
}

.page-destination-body__main-body > div:nth-child(odd):not(:first-child) {
    margin-top: 60px;
}

.page-text__list > li:not(:first-child) {
    margin-top: 15px;
}

.page-text__list > li {
    position: relative;
    padding-left: 25px;
}

.page-text__list > li span {
    font-weight: 900;
}

.page-text__list > li:before {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #0072BC;
    top: 5px;
    left: 0;
}

.fancybox-image {
    cursor: pointer;
}

.special-width {
    width: 560px;
}

.special-width-candidate {
    width: 570px;
}

.mobile-img-size {
    text-align: center;
}

.mobile-img-size .page-img {
    width: 350px;
}

.without-margin {
    margin-top: 0;
}
