@media (max-width: 426px) {
    .back-link {
        position: static;
        display: inline-block;
    }

    .page-destination-body {
        justify-content: center;
    }

    .page-destination-body__menu-block {
        position: static;
    }
}