@media (max-width: 426px) {
    .main-content__banner {
        background-position: center right 25%;
    }

    .content > h1 {
        font-size: 27px;
    }

    .contact-form-checkbox {
        bottom: 33px;
    }

    .contact-form-submit-btn {
        width: 100%;
    }
}

@media (max-width: 376px) {
    section:not(.main-content__banner):not(.main-content-menu):not(.main-content__examples) {
        padding: 50px 0;
    }

    .form-wrapper {
        padding: 33px 9px;
    }
}

@media (max-width: 321px) {
    .content > h1 {
        font-size: 22px;
    }

    .main-content__page-form {
        padding: 16px 0;
    }

    .form-wrapper {
        padding: 33px 10px;
    }
}