@media (max-width: 1000px) {
    .grid-block {
        grid: repeat(4, 1fr) / repeat(2, 1fr);
    }
}

@media (max-width: 983px) {
    .header-navigation-menu,
    .menu-panel {
        display: none;
    }

    .burger_btn {
        display: block;
    }

    .demo-test-blue-block__text {
        margin-left: 20px;
    }
}

@media (max-width: 675px) {
    .grid-block {
        grid: repeat(9, 1fr) / 1fr;
    }
}